html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  letter-spacing: 0.5px;
}

.background {
  background: linear-gradient(to bottom right, #3498db, #1abc9c);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.login-screen {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background: linear-gradient(to bottom, #40E0D0, #87CEEB);
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.15);
}

/** PART 1 **/
.part-1-login {
font-size: 26px;
text-align: center;
margin-top: 35px;
margin-bottom: 20px;
}

/** PART 2 **/
.part-2-initials {
  text-align: center;
}

.initials-border {
  padding: 8px 15px;
  border: none;
  border-bottom: 1px solid;
  border-radius: 20px;
  width: 220px;
}

.initials-border::placeholder {
  text-align: center;
  letter-spacing: 2px !important;
}

.initials-border:focus {
  outline: none;
}

.email {
  margin-bottom: 15px;
}

.password {
  margin-bottom: 8px;
}

/** PART 3 **/
.part-3-remember {
  margin-left: 55px;
  margin-bottom: 50px;
}

/** PART 4 **/
.part-4-login-button {
  text-align: center;
}

.button {
  padding: 8px 45px;
  border: none;
  border-bottom: 1px solid;
  background-color: white;
  font-weight: bold;
  font-size: medium;
  border-radius: 20px;
}

.button:active {
  background-color: black;
  color: white;
  border-bottom: black;
  transition: 0.2s;
}

/** PART 5 **/
.part-5-registration {
  text-align:center;
}

.reg-link {
  color: black;
  
}